body {
    background-color: rgba(52, 146, 255, 0.685);
    font-size: 20px;   
}

.style-box {
    background-color: rgb(255, 249, 137);
    display: flex;
    margin: 100px auto;
    padding: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: space-around;
    background-color:rgb(255, 249, 137);
    margin: 10px auto;
    padding: 120px;
    border: 1px solid black;
    border-radius: 20px;   
}

.text {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}   

